<h1>REQUEST</h1>


      <div class="row list-item-custom">
        <div class="col-md-2 vertical-center">
          <%= @request.start_date.strftime('%F') %>
        </div>
        <div class="col-md-2 vertical-center">
          <%= @request.end_date.strftime('%F') %>
        </div>

      </div>

