<br>
<h2 class="text-center"> HOW TO KOOB? </h2>
<br>
<br>
<br>
<h3>FAQ</h3>
<br>
<details class="faq">
  <summary>KOOB은 무엇을 하는 곳인가요?</summary>
  <p>KOOB은 도서공유플랫폼입니다. <br>
    집에서 자고있는 책을 등록하여 자원을 극대로 활용하고 새로운 가치를 발견하고자합니다. <br>
    책을 등록하고 위치 기반으로 이웃과 책을 공유해보세요</p>
</details>

<details class="faq">
  <summary>오픈카톡주소는 어떻게 생성하나요?</summary>
  <p> <a href="https://youtu.be/I3AXewAPIu0">[ 튜토리얼 ] </a>을 참고해주세요</p>
</details>


<details class="faq">
  <summary>한국에서는 안되나요?</summary>
  <p> 한국서비스 준비 중입니다.</p>
</details>


<details class="faq">
  <summary>문의/연락처</summary>
  <p>koobthebook@example.com으로 연락주시거나 페이지 하단을 참조해주세요:)</p>
</details>


<br>
<br>
<br>

<h3>Contact</h3>
<br>
<div class="text-center">
  <br>
  <h4 >KOOB IS ALWAYS READY FOR YOU</h4>
  <br>
  <h5> koobthebook@example.com </h5>
  <h5> 010-0000-0000 </h5>
</div>