<% if @photos %>

  <div class="form-row">
    <% @photos.each do |photo| %>
      <div class="form-group col-md-4">
        <div class="card">
          <div class="card-title preview">
            <%= image_tag photo.image.url() %>
          </div>
          <div class="card-body">
            <span class="float-right">
              <i class="fas fa-times fa-lg"></i>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% end %>