/*
 *= require bootstrap
 *= require_tree .
 *= require_self
 *= require toastr
 *= require jquery-ui
 */

@import 'toastr';


body{
  color: #565a5c;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: #565a5c;
}

label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  height: 1.25rem;
  width: 1.25rem;
  margin-bottom: -0.25;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked:before{
  content: "\2713";
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 1.25em;
  color: #FF8181;
}


#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}


/* FOOTER */
#footer {
  margin-top: 3%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}

//#wrapper{
//  width: 960px;
//  margin: 0 auto;
//}
//
//#sidebar {
//  float: right;
//  width: 340px;
//}
//#sidebar #widget {
//  width: 340px;
//  height: 600px;
//  margin-bottom: 10px;
//  border-bottom: 1px solid #CCCCCC;
//}
//#article {
//  width: 560px;
//}

.vertical-center{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.hor-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading{
  margin-top: 10%;
  margin-bottom: 10%;
}


.container{
  width: 100%;
}


.edit-prof-container {
  margin : 0 auto;
}

/* LIST */
.list-item-custom{
  margin-bottom: 1.5%;
}

.img-thumbnail {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: 150px;
  height: 100px;
  margin: 0 auto;
}

/*show book detail*/
.title-img-detail{
  height: 30rem;
}

.main-profile-row{
  margin-bottom: 0.25rem;
  padding: 1% 0;
  //background-color: #EAEAEA;
}
.type-view{
  //background-color: #EAEAEA;
  //border-radius: 0.25rem;
}
.type-view-p{
  display: block;
  margin-bottom: 0;
}




/* NAVIGATION BAR */
.navbar-custom {
  background-color: #02CCC0;
  color: #ffffff;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffffff;
  font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link  {
  color: #ffffff;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* BUTTONS */
.btn-primary{
  border: 1px solid #FF8181;
  background-color: #FF8181;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 10px;
}
.btn-primary:hover, .btn-primary:focus {
  border: 1px solid #D85252;
  background-color: #D85252;
}
.btn-primary[disabled=disabled], .btn-primary:disabled {
  border: 1px solid #DCDCDC;
  background-color: #DCDCDC;
}

.btn-secondary{
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 10px;
}

  .btn-default{

  }

  .btn-file{
    position: relative;
    overflow: hidden;
  }


  .btn-file input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 4rem;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: black;
    cursor: inherit;
    display: block;
  }


/* Image Preview */
.card-title.preview{
  padding: 0;
}

.card-title.preview img{
  width: 100%;
}
.card-img-top {
  width: 100%;
  height: 230px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}


/* CUSTOM BUTTON */


.btn-pink {
  border: 1px solid #FF8181;
  background-color: #FF8181;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 10px;

}

.btn-pink:hover, .btn-pink:focus {
  border: 1px solid #D85252;
  background-color: #D85252;
  color: #ffffff;
}

.btn-mint{
  border: 1px solid #02CCC0;
  background-color: #02CCC0;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn-mint:hover, .btn-mint:focus {
  border: 1px solid #008981;
  background-color: #008981;
  color: #ffffff;
}

.btn-brown{
  border: 1px solid #694E4E;
  background-color: #694E4E;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 10px;
}

.btn-brown:hover, .btn-brown:focus {
  border: 1px solid #916464;
  background-color: #916464;
  color: #ffffff;
}

.btn-facebook {
  background-color: #4267B2;
  color: #ffffff;
  font-weight: bold;
}








  /* CARD VIEW */
.card-body .card-title {
  color : #565a5c;
  font-size: 1.3rem;
  font-weight: bold;
}

.card-body{
  padding: 5%;
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}


  /* ROW SPACE */
.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* SHELF-DESCRIPTION*/
.description {
  color: #575757;
  font-size: 1rem;
  line-height: 25px;
}



/* AVATAR */
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}


/* FORM */
.form-group{
  margin-bottom: 5%;
}
.form-control{
  border-radius: 10px;
}

.sidebar-list{
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding-left: 10px;
  font-size: 1.2rem;
  color: #82888a;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}




/* USER PERSONAL PAGE */

.card-book-list{
  margin-bottom: 1rem;
}


/* review form*/
.review-form{
  margin-bottom: 1%;
}
.review-form-control{
  margin-bottom: 1%;
}


.btn-30p {
  margin-bottom: 3%;
  width: 30%;
}

/* REQUEST FORM */
.request-title{
  background-color: #FF8181;
  color: white;
}

.date-picker-style{
  margin-right: 4%;
  margin-bottom: 2%;
}

.date-form-center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}


